<!-- Modal: modalPeriodoFrequencia -->
<div class="modal fade" id="modalPeriodoFrequencia" tabindex="-1" role="dialog" aria-labelledby="modalPeriodoFrequencia" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Controle de Frequências por Setor</h4>
            </div>
            <!--Body-->
            <div class="modal-body table-responsive">
                <table class="table table-striped table-sm shadow-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>CÓDIGO</th>
                            <th>STATUS ATUAL</th>
                            <th>NOME DO SETOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for setor in setores %}
                        <tr>
                            <th scope="row">{{ setor.id_setor }}</th>
                            {% if setor.id_setor in frequencias %}
                                <td><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                            {% else %}
                                <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
                            {% endif %}
                            <td>{{ setor.nome }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: modalPeriodoFrequencia -->