{% extends "layouts/base.html" %} {% load i18n static %} {% load static %} 

{% load crispy_forms_tags %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">TEXTO INSTITUCIONAL AQUI</h5>
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                          {% endfor %}
                        {% endif %}

                        <h5 class="mt-5">Período Editar</h5>
                        <hr>
                        <form action="{% url 'namp:periodo_att' id_periodo_acao %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    {{form.data_inicial|as_crispy_field }}
                                    {{ form.data_inicial.errors }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{form.hora_inicial }}
                                    {{ form.hora_inicial.errors }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    {{form.data_final|as_crispy_field }}
                                    {{ form.data_final.errors }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{form.hora_final }}
                                    {{ form.hora_final.errors }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{form.descricao|as_crispy_field }}
                                    {{ form.descricao.errors }}
                                </div>
                            </div>
                            <hr>
                            <div class="submit-row">
                            <button type="submit" class="btn  btn-dark">Salvar</button>
                            <a href="{% url 'namp:periodo_listar' %}" class="btn  btn-dark">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
