{% extends 'layouts/base.html' %} 
{% load i18n static %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load namp_extras %}
{% block content %}
{% include 'includes/modal/periodo/escalas.html' %}
{% include 'includes/modal/periodo/frequencias.html' %}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">TEXTO INSTITUCIONAL AQUI</h5>
                        {% if messages %} {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                            <a class="close" data-dismiss="alert" aria-hidden="true"><i class="feather icon-x"></i></a> {{ message|safe }}
                        </div>
                        {% endfor %} {% endif %}

                        <h5 class="mt-5">Períodos</h5>
                        <hr>
                        <form method="POST" action="{% url 'namp:periodo_listar' %}">{% csrf_token %}
                            <div class="form-inline">
                                {{ form.descricao|as_crispy_field }}
                                <button type="input" class="btn btn-dark">
                                <i class="fas fa-search"></i>
                                </button>
                                <a class=" col float-right" href="{% url 'namp:periodo_listar' %}">ver todos</a>
                                <div class="float-right" style="padding: 0;">
                                    <a href="{% url 'namp:periodo_criar' %}" class="btn btn-dark float-right"><i class="fas fa-plus"></i> Adicionar</a>
                                </div>
                            </div>
                        </form>
                        <br>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><a scope="col">EVENTO DO PERÍODO</a></th>
                                        <th><a scope="col">INÍCIO</a></th>
                                        <th><a scope="col">TÉRMINO</a></th>
                                        <th><a scope="col">AÇÕES</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for periodo in page_obj %}
                                    <tr>
                                        {% if periodo.descricao == 'GERAR ESCALAS' %}
                                        <td> {{ periodo.descricao }} - {{ periodo.data_inicial|add_month|date:"F"|upper}}/{{ periodo.data_inicial|date:"Y"}}</td>
                                        {% else %}
                                        <td> {{ periodo.descricao }} - {{ periodo.data_inicial|less_month|date:"F"|upper}}/{{ periodo.data_inicial|date:"Y"}}</td>
                                        {% endif %}
                                        <td> {{ periodo.data_inicial }} </td>
                                        <td> {{ periodo.data_final }} </td>
                                        <td>

                                            {% now 'Y-m-d H:i' as momento_atual %}
                                            {% if momento_atual < periodo.data_final|date:"Y-m-d H:i" and momento_atual >= periodo.data_inicial|date:"Y-m-d H:i" %}
                                                {% if periodo.descricao == 'GERAR ESCALAS' %}
                                                    <a type="text" data-toggle="modal" data-target="#modalPeriodoEscalas"><i class="feather icon-eye"></i><span style="font-weight: bold; color: green; background-color: rgba(52,195,143,.25)!important; border-radius: .25rem;"> Eventos</span></a>
                                                {% elif periodo.descricao == 'CONSOLIDAR FREQUENCIAS' %}
                                                    <a type="text" data-toggle="modal" data-target="#modalPeriodoFrequencia"><i class="feather icon-eye"></i><span style="font-weight: bold; color: green; background-color: rgba(52,195,143,.25)!important; border-radius: .25rem;"> Eventos</span></a>
                                                {% endif %}
                                                <a href="{% url 'namp:periodo_att' periodo.id_periodo_acao %}"><i class="feather icon-edit"></i><span style="font-weight: bold; color: green; background-color: rgba(52,195,143,.25)!important; border-radius: .25rem;"> Editar</span></a>
                                            {% else %}
                                                <i class="feather icon-eye-off"></i> Período Indisponível
                                            {% endif %}
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <!-- PAGINAÇÃO INICIO -->
                        <div class="pagination justify-content-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1"><button type="button" class="btn btn-dark" >&laquo;</button></a>       
                                            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-dark" >&lt;</button></a>
                                        {% endif %}
                            
                                        <span class="current">
                                            <button border-color="ffff" type="button" class="btn btn-dark">{{ page_obj.number  }}</button>
                                        </span> {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-dark" >&gt;</button></a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-dark">&raquo;</button></a> {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- PAGINAÇÃO FIM -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}