{% extends 'admin/login.html' %}
{% load i18n static %}

{% block title %}Login{% endblock %}

{% block branding %}
 	<a href="{% url 'autenticacao:alterar_senha' %}">
	<img style="float: left;" src="{% static 'images/logoppto.png' %}" alt="logo" width="45" height="50">
	</a>
	<h1>Núcleo de Apoio e Movimentação de Pessoal</h1>
{% endblock %}

{% block content %}
<h2>Preencha os campos abaixo:</h2>
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <div class="form-group">
        <input type="submit" value="Alterar" class="btn btn-primary">
    </div>
</form>
{% endblock %}
