{% extends "layouts/base.html" %} {% load i18n static %} {% load static %} 

{% load crispy_forms_tags %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ servidor.fk_setor }}</h5>
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                          {% endfor %}
                        {% endif %}

                        <h5 class="mt-5">Cadastrar Afastamento</h5>
                        <hr>
                        <form action="{% url 'namp:afastamento_criar' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    {{ form.data_inicial|as_crispy_field }}
                                    {{ form.data_inicial.errors }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    {{ form.data_final|as_crispy_field }}
                                    {{ form.data_final.errors }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.fk_afastamento|as_crispy_field }}
                                    {{ form.fk_afastamento.errors }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.fk_servidor|as_crispy_field }}
                                    {{ form.fk_servidor.errors }}
                                </div>
                            </div>
                            <hr>
                            <div class="submit-row">
                            <button type="submit" class="btn  btn-dark">Salvar</button>
                            <a href="{% url 'namp:afastamento_list' %}" class="btn  btn-dark">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
