{% extends 'layouts/base.html' %} {% load i18n static %} {% load static %}

{% load crispy_forms_tags %}

{% load namp_extras %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ user.servidor.fk_setor }}</h5>
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                          {% endfor %}
                        {% endif %}

                        <h5 class="mt-5">Gerar Escala Regular</h5>
                        <hr>
                        <!--<form method="POST" action="{% url 'namp:escala_operador_list' %}">{% csrf_token %}
                            <div class="form-inline">
                                {{ form.data }}
                                <button type="input" class="btn btn-dark">
                                <i class="fas fa-search"></i>
                                </button>
                                <a href="{% url 'namp:escala_operador_list' %}">ver todos</a>
                            </div>
                        </form>-->
                        {% if mensagens.mensagem_escalas %}
                        <div class="row gx-2 p-3 bg-light" id="lista-setores-botao-gerar">
                            <div class="col-md-9 ms-md-auto text-center">
                                <div class="dropdown">
                                    CRIE ESCALAS DO MÊS ( SUB-SEQUENTE ) NO BOTÃO AO LADO:
                                </div>
                            </div>
                            <div class="col-md-3 ms-md-auto text-center">
                                <button type="button" class="btn btn-secondary" id="botao-gerar-escala"><a href="{% url 'namp:jornadas_operador' %}" style="color: white; text-decoration-line: none;">Gerar Escala Regular</a></button>
                            </div>
                        </div>
                        {% endif %}

                        {% if mensagens.mensagem_escalas %}
                        <div class="row gx-2 p-1 bg-light" id="div-alerta-prazo-escala">
                            <div class="col text-center">
                                <div class="alert alert-warning" role="alert" id="alert-prazo">
                                    {{ mensagens.mensagem_escalas }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <br>
                        <div class="table-responsive">
                            
                            <h6>Equipes em Jornada de Expediente</h6>
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">EQUIPE: </th>
                                        <th scope="col">QTDE DE SERVIDORES:</th>
                                        <th scope="col">TIPO DE JORNADA:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for equipe in equipes %}
                                    <tr>
                                        {% if equipe.categoria == "Expediente" %}
                                        <td><a href="{% url 'namp:equipe_att' equipe.id_equipe %}">{{equipe.nome}}</a></td>
                                        <td>{{ equipe.get_servidores }}</td>
                                        <td>{{ equipe.fk_tipo_jornada.tipificacao }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% if tem_plantao12%}
                            <h6>Equipes em Jornada de Plantão 12hrs</h6>
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">EQUIPE: </th>
                                        <th scope="col">QTDE DE SERVIDORES:</th>
                                        <th scope="col">TIPO DE JORNADA:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for equipe in equipes %} {% if equipe.fk_tipo_jornada.carga_horaria == 12 %}
                                    <tr>
                                        <td><a href="{% url 'namp:equipe_att' equipe.id_equipe %}">{{equipe.nome}}</a></td>
                                        <td>{{equipe.get_servidores}}</td>
                                        <td>{{equipe.fk_tipo_jornada.tipificacao}}</td>
                                    </tr>
                                    {% endif %} {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% endif %}
                            {% if tem_plantao24 %}
                            <h6>Equipes em Jornada de Plantão 1X3</h6>
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">EQUIPE: </th>
                                        <th scope="col">QTDE DE SERVIDORES:</th>
                                        <th scope="col">TIPO DE JORNADA:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for equipe in equipes %} {% if equipe.fk_tipo_jornada.carga_horaria == 24 %}
                                    <tr>
                                        <td><a href="{% url 'namp:equipe_att' equipe.id_equipe %}">{{equipe.nome}}</a></td>
                                        <td>{{equipe.get_servidores}}</td>
                                        <td>{{equipe.fk_tipo_jornada.tipificacao}}</td>
                                    </tr>
                                    {% endif %} {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% endif %}
                            {% if tem_plantao48 %}
                            <h6>Equipes em Jornada de Plantão 2x6</h6>
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">EQUIPE: </th>
                                        <th scope="col">QTDE DE SERVIDORES:</th>
                                        <th scope="col">TIPO DE JORNADA:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for equipe in equipes %} {% if tem_plantao48 and equipe.fk_tipo_jornada.carga_horaria == 48 %}
                                    <tr>
                                        <td><a href="{% url 'namp:equipe_att' equipe.id_equipe %}">{{equipe.nome}}</a></td>
                                        <td>{{equipe.get_servidores}}</td>
                                        <td>{{equipe.fk_tipo_jornada.tipificacao}}</td>
                                    </tr>
                                    {% endif %} {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% endif %}
                            
                            {% if tem_plantao12 or tem_plantao24 or tem_plantao48 %}
                            <table class="table table-bordered text-center table-overflow table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">DEFINIÇÕES FINAIS DA ESCALA REGULAR</th>
                                    </tr>
                                </thead>
                            </table>
                            <br> {% endif %}
                            
                                <form method="post" action="{% url 'namp:jornadas_operador' %}">{% csrf_token %}
                                    <div class="col-md-12 row">
                                        {% if tem_plantao12 %}
                                        <div class="col-md-12 row">
                                            <div class="col-md-3">
                                                {{ form.equipe_plantao12h|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.data_plantao12h|as_crispy_field  }}
                                            </div>
                                            <div class="col-md-3">
                                                <span class="form-text text-right">Equipe que encerrará o mês 04/2021:</span>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if tem_plantao24 %}
                                        <div class="col-md-12 row">
                                            <div class="col-md-3">
                                                {{ form.equipe_plantao24h|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.data_plantao24h|as_crispy_field  }}
                                            </div>
                                            <div class="col-md-3">
                                                <span class="form-text text-right">Equipe que encerrará o mês 04/2021:</span>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if tem_plantao48 %}
                                            <div class="col-md-12 row">
                                            <div class="col-md-3">
                                                {{ form.equipe_plantao48h|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.data_plantao48h|as_crispy_field  }}
                                            </div>
                                            <div class="col-md-3">
                                                <span class="form-text text-right">Equipe que encerrará o mês 04/2021:</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="submit-row">
                                        <button type="submit" class="btn  btn-dark">Gerar</button>
                                        <a href="{% url 'namp:escala_operador_list' %}" class="btn  btn-dark">Voltar</a>
                                    </div>
                                </form>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}            

{% block javascripts %}
<script type="text/javascript">
     $("#id_data_plantao12h").dateinput({ min: -10, max: 30 });
</script>
{% endblock javascripts %}