<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">
                <!--<li class="nav-item pcoded-menu-caption">
						<label>Navegação</label>
					</li>-->
                <li class="nav-item">
                    <a href="/" class="nav-link ">
                        <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Gestão</label>
                </li>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Relatórios</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="#">Afastamentos</a></li>
                        <li><a href="#">Servidores</a></li>
                        <li><a href="#">Históricos</a></li>
                        <li><a href="#">Períodos</a></li>
                        <li><a href="{% url 'namp:admin_add_noturno'%}">Add Noturno</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'namp:admin_setor_list'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Setores</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:admin_servidor_list'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Servidores</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:periodo_listar'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Definir Períodos</span></a>
                </li>
                {% endif %} {% if request.user.is_staff %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Setor</label>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:setor_att' servidor.fk_setor.id_setor %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Meu Setor</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:equipe_list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Equipes</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:servidor_list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Servidores</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'namp:afastamento_list'%}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Afastamentos</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Períodos</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'namp:escala_operador_list'%}">Definir Escala</a></li>
                        <li><a href="{% url 'namp:frequencia_operador_list'%}">Definir Frequência</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item pcoded-menu-caption">
                    <label>Servidor</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Atualizar</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'namp:servidor_att' servidor.id_matricula %}">Dados Pessoais</a></li>
                        <li><a href="{% url 'namp:servidor_escala'%}">Ver escala</a></li>
                        <li><a href="{% url 'namp:servidor_hist'%}">Ver Histórico</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
    </div>
</nav>