{% extends 'layouts/base.html' %} {% load i18n static %} {% load static %}

{% load crispy_forms_tags %}

{% load namp_extras %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ servidor.fk_setor }}</h5>
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}
                            <a class="close" data-dismiss="alert" aria-hidden="true"><i class="feather icon-x"></i></a></div>
                          {% endfor %}
                        {% endif %}

                        <h5 class="mt-5">Frequências</h5>
                        <hr>
                        <form method="POST" action="{% url 'namp:escala_operador_list' %}">{% csrf_token %}
                            <div class="form-inline">
                                <button type="input" class="btn btn-dark">
                                <i class="fas fa-search"></i>
                                </button>
                                <a class=" col float-right" href="{% url 'namp:frequencia_operador_list' %}">ver todos</a>
                                {% if mensagens.mensagem_frequencia %}
                                <div class="float-right" style="padding: 0;">
                                    <a href="#" class="btn btn-dark float-right"><i class="fas fa-plus"></i> Consolidar Frequências</a>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                        <br>

                        {% if mensagens.mensagem_frequencia %}
                        <div class="submit-row">
                            <div class="alert alert-warning" role="alert" id="alert-prazo">{{ mensagens.mensagem_frequencia }}</div>
                        </div>
                        {% endif %}
                       
                        <div class="table-responsive">
                            <table class="table table-striped table-sm shadow-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><a scope="col">MÊS DE REFERÊNCIA</a></th>
                                        <th><a scope="col">QTD EQUIPES</a></th>
                                        <th><a scope="col">QTD SERVIDORES</a></th>
                                        <th><a scope="col">SERVIDORES EM EXPEDIENTE</a></th>
                                        <th><a scope="col">SERVIDORES EM PLANTÃO</a></th>
                                        <th><a scope="col">QTD DE AFASTAMENTOS</a></th>
                                        <th><a scope="col">AÇÕES</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for escalafrequencia in page_obj %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                        <td> {{ escalafrequencia.data|less_month|date:"F Y" }} </td>
                                        <td> {{ escalafrequencia.qtd_equipes_frequencia|length }} </td>
                                        <td> {{ escalafrequencia.qtd_servidores_frequencia|length }} </td>
                                        <td> {{ escalafrequencia.qtd_expediente_frequencia|length }} </td>
                                        <td> {{ escalafrequencia.qtd_plantonista_frequencia|length }} </td>
                                        <td> {{ escalafrequencia.qtd_afastamento_frequencia|length }} </td>
                                        <td> EDITAR - BAIXAR</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="pagination justify-content-center">
                            <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo;</a>          
                                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            {% endif %}
                
                            <span class="current">
                                Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                            </span> {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a> {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}