{% extends 'layouts/base.html' %} {% load i18n static %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">{{ servidor.fk_setor }}</h5>
                        {% if messages %} {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}
                            <a class="close" data-dismiss="alert" aria-hidden="true"><i class="feather icon-x"></i></a></div>

                        {% endfor %} {% endif %}

                        <h5 class="mt-5">Equipes</h5>
                        <hr>
                        <form method="POST" action="{% url 'namp:equipe_list' %}">{% csrf_token %}
                            <div class="form-inline">
                                {{ form.nome|as_crispy_field }}
                                <button type="input" class="btn btn-dark">
                                <i class="fas fa-search"></i>
                                </button>
                                <a class=" col float-right" href="{% url 'namp:equipe_list' %}">ver todos</a>
                                <div class="float-right" style="padding: 0;">
                                    <a href="{% url 'namp:equipe_criar' %}" class="btn btn-dark float-right"><i class="fas fa-plus"></i> Adicionar</a>
                                </div>
                            </div>
                        </form>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <table class="table table-striped table-sm shadow-sm">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">MÊS DE REFERÊNCIA</th>
                                                <th scope="col">EQUIPE ATIVA</th>
                                                <th scope="col">CATEGORIA</th>
                                                <th scope="col">SERVIDORES</th>
                                                <th scope="col">VISUALIZAR</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for equipe in page_obj %}
                                            <tr class="{% cycle 'row1' 'row2' %}">
                                                <td> <a href="{% url 'namp:equipe_att' equipe.id_equipe %}">{{equipe.nome}}</a></td>
                                                <td class="field-status">
                                                    {% if equipe.status %}
                                                    <img src="/static/admin/img/icon-yes.svg" alt="{{equipe.status}}"> {% else %}
                                                    <img src="/static/admin/img/icon-no.svg" alt="{{equipe.status}}"> {% endif%}
                                                </td>
                                                <td> {{equipe.categoria}} </td>
                                                <td> {{equipe.get_servidores | default:0 }} </td>
                                                <td>
                                                    <a type="modalCart" data-toggle="modal" data-target="#modalCart"><i class="feather icon-eye"></i> Servidores</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                        </div>
                        <div class="pagination justify-content-center">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2 mb-1" role="group" aria-label="First group">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1"><button type="button" class="btn btn-dark" >&laquo;</button></a>       
                                            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-dark" >&lt;</button></a>
                                        {% endif %}
                            
                                        <span class="current">
                                            <button border-color="ffff" type="button" class="btn btn-dark">{{ page_obj.number  }}</button>
                                        </span> {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-dark" >&gt;</button></a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-dark">&raquo;</button></a> {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}